<template>
  <div id="app">
    <h3>Сайт для сложных рассчетов</h3>
    <p>Наш сайт позволит вам выполнить самую сложную операцию - сложение за пару мгновений!</p>
    <p>Достаточно ввести оба числа в соответствующие поля (порядок не важен) и нажать на кнопку для вычисления рассчетов.</p>
    <p>Благодаря нашим мощным серверам и самым оптимизированным алгоритмам из тех, что существуют ныне вы можете получить результат в считанные наносекунды.</p>
    <div class="py-2 alert-warning">
      <p>Дорогой пользователь, числа должны быть положительными и целыми. И Вы, пользователь, тоже.</p>
      <p class="mb-0">В любом случае, результат вам вернётся именно целым числом. Будьте здоровы!</p>
    </div>
    <p>Приятных вам рассчетов!</p>
    <b-form @submit="onSubmit" v-if="show" inline>
      <b-form-group
        id="input-group-1"
        label="Введите первое число:"
        label-for="input-1"
        class="px-3"
      >
        <b-input-group prepend=">0" class="ml-1">
          <b-form-input
            id="input-1"
            v-model="form.number1"
            placeholder="Введите число"
            type="number"
            required
          ></b-form-input>
        </b-input-group>
      </b-form-group>

      <b-form-group
          id="input-group-2"
          label="Введите второе число:"
          label-for="input-2"
          class="pr-3"
      >
        <b-input-group prepend=">0" class="ml-1">
          <b-form-input
            id="input-2"
            v-model="form.number2"
            type="number"
            placeholder="Введите число"
            required
          ></b-form-input>
        </b-input-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Выполнить сложные рассчеты</b-button>

      <b-form-group
          id="result-group"
          class="pl-3"
      >
        <b-form-input
          id="result"
          v-model="form.result"
          placeholder="Здесь будет результат"
          class="ml-1"
          disabled
        ></b-form-input>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'App',
  data() {
    return {
      form: {
        number1: '',
        number2: '',
        result: '',
      },
      show: true
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      axios.post("http://localhost:8001/api/v1/math/calc", {number1: this.form.number1, number2: this.form.number2})
        .then(response => this.form.result = response.data.result)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
